.testimonialsSection{
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: #283148;
    width: 100vw;
    position: relative;
    margin-top: 3rem;
}
.testimonialsHeading{
    font-weight: 900;
    font-size: 2.7rem;
    margin: 0;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 3rem;
    color: #FF9B42;
}
.testimonialsContainer{
    display: flex;
    gap: 2.5rem;
    width: 80vw;
    margin: auto;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}
.leftArrow{
    position: absolute;
    left: 2rem;
    top: 50vh;
    background-color: #283148;
    border: none;
    cursor: pointer;
}
.rightArrow{
    position: absolute;
    right: 3rem;
    top: 50vh;
    background-color: #283148;
    border: none;
    cursor: pointer;
}

@media (max-width:1036px){
    .testimonialsContainer{
        gap: 0.7rem;
    }
}

@media (max-width:972px){
    .testimonialsHeading{
        font-size: 2.2rem;
    }
}

@media (max-width:945px){
    .testimonialsContainer{
        gap: 1rem;
    }
    .leftArrow{
        top: 40vh;
    }
    .rightArrow{
        top: 40vh;
    }
}

@media (max-width:840px){
    .leftArrow{
        left: 1rem;
    }
    .rightArrow{
        right: 2rem;
    }
}

@media (max-width:725px){
    .leftArrow{
        top: 45vh;
        left: 0.5rem;
    }
    .rightArrow{
        top: 45vh;
        right: 1rem;
    }
}

@media (max-width:625px){
    .leftArrow{
        top: 40vh;
        left: 0;
    }
    .rightArrow{
        top: 40vh;
        right: 0.7rem;
    }
}

@media (max-width:475px){
    .leftArrow{
        top: 40vh;
        left: -1rem;
    }
    .rightArrow{
        top: 40vh;
        right: 0.1rem;
    }
}

@media (max-width:403px){
    .leftArrow{
        top: 40vh;
        left: -1.5rem;
    }
    .rightArrow{
        top: 40vh;
        right: -0.3rem;
    }
}

@media (max-width:315px){
    .leftArrow{
        top: 50vh;
        left: -1.5rem;
    }
    .rightArrow{
        top: 50vh;
        right: -0.3rem;
    }
}

@media (max-width:450px) {
    .testimonialsHeading{
        font-size: 2rem;
    }
}

@media (max-width:332px){
    .testimonialsHeading{
        font-size: 1.5rem;
    }
}