.blogsSection{
    padding: 3rem;
    position: relative;
    background-color: #283148;
    width: 100vw;
    margin-top: 3rem;
}
.blogHeading{
    font-weight: 900;
    font-size: 2.7rem;
    margin: 0;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: white;
}
.blogText{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 4rem;
    color: white;
}
.blogs{
    display: flex;
    gap: 2.5rem;
    width: 80vw;
    margin: auto;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.blogs.visible{
    opacity: 1;
}
.leftBlogArrow{
    position: absolute;
    left: 2rem;
    top: 55vh;
    background-color: #283148;
    border: none;
    cursor: pointer;
}
.rightBlogArrow{
    position: absolute;
    right: 3rem;
    top: 55vh;
    background-color: #283148;
    border: none;
    cursor: pointer;
}

@media (max-width:1115px) {
   .blogs{
    gap: 0.7rem;
   }
}

@media (max-width:1005px) {
    .leftBlogArrow{
        top: 65vh;
        left: 1rem;
    }
    .rightBlogArrow{
        top: 65vh;
        right: 2rem;
    }
}

@media (max-width:915px) {
    .leftBlogArrow{
        top: 55vh;
        left: 1rem;
    }
    .rightBlogArrow{
        top: 55vh;
        right: 2rem;
    }
}

@media (max-width:768px) {
    .leftBlogArrow{
        left: 0.5rem;
    }
    .rightBlogArrow{
        right: 1em;
    }
}

@media (max-width:712px) {
    .leftBlogArrow{
        top: 60vh;
        left: 0.5rem;
    }
    .rightBlogArrow{
        top: 60vh;
        right: 1em;
    }
}

@media (max-width:625px) {
    .leftBlogArrow{
        left: 0;
    }
    .rightBlogArrow{
        right: 0.5;
    }
}

@media (max-width:496px) {
    .leftBlogArrow{
        left: -0.8rem;
    }
    .rightBlogArrow{
        right: -0.4rem;
    }
}

@media (max-width:450px) {
    .blogs{
        width: 70vw;
    }
    .blogHeading{
        font-size: 2rem;
    }
}