.blogsSection{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 24rem;
    position: relative;
    background-color: #283148;
    width: 100vw;
    margin-top: 3rem;
    height: auto;
    box-sizing: border-box;
}
.blogHeading{
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    line-height: 1.2;
    text-align: center;
    color: white;
}
.blogs{
    display: flex;
    gap: 1.35%;
    width: 80vw;
    margin: auto;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.blogs.visible{
    opacity: 1;
}
.leftBlogArrow{
    background-color: #283148;
    border: none;
    cursor: pointer;
}
.rightBlogArrow{
    background-color: #283148;
    border: none;
    cursor: pointer;
}

@media (max-width:1118px) {
    .blogs{
        width: 90vw;
    }
}

@media (max-width:1115px) {
    .blogHeading{
        font-size: 2.3rem;
    }
}

@media (max-width:1000px) {

    .blogHeading{
        font-size: 2rem;
    }
    .blogsSection{
        height: 110vh;
    }
}

@media (max-width:890px) {
    .blogHeading{
        font-size: 1.8rem;
    }
}

@media (max-width:803px) {
    .blogHeading{
        font-size: 1.6rem;
    }
}

@media (max-width:880px) {
    .blogs{
        width: 80vw;
        gap: 2.3%;
    }
    .blogsSection{
        height: 100vh;
    }
}


@media (max-width:650px) {
    .blogs{
        gap: 2.1%;
    }
    .blogsSection{
        height: 90vh;
    }
}


@media (max-width:500px) {
    .blogsSection{
        height: 100vh;
    }
}

@media (max-width:400px) {
    .blogsSection{
        height: 110vh;
    }
}


