.blogsSection{
    padding: 3rem;
    position: relative;
    background-color: #283148;
    width: 100vw;
    margin-top: 3rem;
    height: auto;
    padding-bottom: 5rem;
}
.blogHeading{
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    line-height: 1.2;
    text-align: center;
    color: white;
}
.blogs{
    display: flex;
    gap: 1.35%;
    width: 80vw;
    margin: auto;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.blogs.visible{
    opacity: 1;
}
.leftBlogArrow{
    position: absolute;
    left: 2rem;
    top: 55vh;
    background-color: #283148;
    border: none;
    cursor: pointer;
}
.rightBlogArrow{
    position: absolute;
    right: 3rem;
    top: 55vh;
    background-color: #283148;
    border: none;
    cursor: pointer;
}

@media (max-width:1118px) {
    .blogs{
        width: 90vw;
    }
    .leftBlogArrow{
        left: -0.2rem;
        top:55vh;
    }
    .rightBlogArrow{
        right: 0.5rem;
        top: 55vh;
    }
}

@media (max-width:1115px) {
    .blogHeading{
        font-size: 2.3rem;
    }
    .leftBlogArrow{
        top:65vh;
    }
    .rightBlogArrow{
        top: 65vh;
    }
}

@media (max-width:1000px) {

    .blogHeading{
        font-size: 2rem;
    }
    .leftBlogArrow{
        top:55vh;
    }
    .rightBlogArrow{
        top: 55vh;
    }
}

@media (max-width:890px) {
    .blogHeading{
        font-size: 1.8rem;
    }
    .leftBlogArrow{
        left: -0.8rem;
    }
    .rightBlogArrow{
        right: -0.3rem;
    }
}

@media (max-width:803px) {
    .blogHeading{
        font-size: 1.6rem;
    }
}

@media (max-width:790px) {
    .blogs{
        width: 80vw;
        gap: 2.3%;
    }
    .leftBlogArrow{
        left: 1rem;
        top: 50vh;
    }
    .rightBlogArrow{
        right: 1.5rem;
        top: 50vh;
    }
}

@media (max-width:630px) {
    .leftBlogArrow{
        left: 0.1rem;
    }
    .rightBlogArrow{
        right: 0.7rem;
    }
}

@media (max-width:599px) {
    .blogs{
        gap: 2.1%;
    }
}

@media (max-width:500px) {
    .leftBlogArrow{
        left: -0.6rem;
    }
    .rightBlogArrow{
        right: 0.1rem;
    }
}

@media (max-width:430px) {
    .blogs{
        margin-left: -0.8rem;
    }
}

@media (max-width:420px) {
    .leftBlogArrow{
        left: -0.9rem;
    }
    .rightBlogArrow{
        right: -0.4rem;
    }
}
